/* Set default font color for all headers */
h1 {
  color: #024780 !important;
}


h2, h3, h4, h5, h6 {
  color: #005fae !important;
}

body {
  color: #005fae !important;
}

p, li {
  color: #024780 !important;
}

/* Optional: lists */
ul li {
  color: #005fae !important;
}